*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f8efb1;
}
header{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    border: solid 5px white;
    border-radius: 50px; 
    background-color: #ef8e6e;
}
nav{
    padding-left: 30px;
    margin-left: 1%;
    background-color: #ef8e6e;
    width: 25%;
    height: 75%;
    border: solid 5px white;
    border-radius: 50px; 
}
.nav{
    border: solid black 2px;
    width: 80%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
<<<<<<< HEAD
#encabezado{
    display: flex;
    justify-content: right;
    margin: 20px;
    width: 60%;
=======
.nav:hover{
    box-shadow: 5px 5px #00fac6;
    border: 5px solid #3d4dc6;
    width: 90%;
    text-align: center;
    font-size: 30px;
    color: #3d4dc6;
    background-color: #ffffa7;
    border-radius: 10px;
>>>>>>> cf52da815b5bc13c6b896ab1a8d4e4909bcf8364
}
#encabezado img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
#encabezado img:hover{
    border: black solid 4px;
}
.nav-txt{
    display: flex;
    justify-content: center;
}
.txt{
    font-size: 22.5px;
    width: 80%;
    margin: 13px;
}
.txt p{
   margin: 19px;
}