@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Kanit:wght@700&family=Rancho&family=Roboto+Mono:wght@700&family=Roboto:wght@500&family=Wallpoet&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 1%;
    border: 5px solid #cbeef7;
    border-radius: 10px;
    height: 350px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(foto-6.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
header p{
    font-size: 65px;
    font-family: 'Wallpoet', cursive;
}
header i, p{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
section{
    float: left;
    border: #cbeef7 solid 5px;
    margin: 1%;
    border-radius: 10px;
}
section article{
    padding: 2%;
}
section article p{
    margin: 2%;
    font-family: 'Averia Serif Libre', cursive;
}
footer{
    float: left;
    border: 5px solid #cbeef7;
    text-align: center;
    font-size: 25px;
    font-family: 'Rancho', cursive;
    width: 98%;
    margin: 0% 0% 1% 1%;
    border-radius: 10px;
    padding: 1%;
}